.nui-app-bar {
  display: flex;
  width: 100%;
  min-height: 64px;
  background-color: $bg-color-white;
  align-items: center;
  z-index: 10000;

  & > .title {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 11px;
    font-size: 24px;
    font-weight: 400;
  }

  & > .icon {
    margin-left: 11px;
  }
}
