// font 

.font-white {
  color: $font-color-white;
}

.font-white {
  color: $font-color-gray;
}

.font-white {
  color: $font-color-lightGray;
}

.font-white {
  color: $font-color-blue;
}

.font-white {
  color: $font-color-red;
}

// brackground

.bg-black {
  background-color: $bg-color-black;
}

.bg-white {
  background-color: $bg-color-white;
}

.bg-yellow {
  background-color: $bg-color-yellow;
}

.bg-pink {
  background-color: $bg-color-pink;
}

.bg-red {
  background-color: $bg-color-red;
}

.bg-blue {
  background-color: $bg-color-blue;
}

.bg-green {
  background-color: $bg-color-green;
}

.bg-purple {
  background-color: $bg-color-purple;
}

.bg-gray {
  background-color: $bg-color-gray;
}
