// font 

._font-white {
  color: $font-color-white;
}

._font-gray {
  color: $font-color-gray;
}

._font-lightgray {
  color: $font-color-lightgray;
}

._font-blue {
  color: $font-color-blue;
}

._font-red {
  color: $font-color-red;
}

// brackground

._bg-black {
  background-color: $bg-color-black;
}

._bg-white {
  background-color: $bg-color-white;
}

._bg-yellow {
  background-color: $bg-color-yellow;
}

._bg-pink {
  background-color: $bg-color-pink;
}

._bg-red {
  background-color: $bg-color-red;
}

._bg-blue {
  background-color: $bg-color-blue;
}

._bg-green {
  background-color: $bg-color-green;
}

._bg-purple {
  background-color: $bg-color-purple;
}

._bg-gray {
  background-color: $bg-color-gray;
}
