// font colors 

$font-color-white: #f8f8f8;
$font-color-gray: #727272;
$font-color-lightGray: #b8b8b8;
$font-color-blue: #3498db;
$font-color-red: #c0392b;

// background colors

$bg-color-black: #000;
$bg-color-white: #f8f8f8;
$bg-color-yellow: #fcdd8d;
$bg-color-pink: #eea2c8;
$bg-color-red: #e18e9f;
$bg-color-blue: #92b3dd;
$bg-color-green: #80d3d2;
$bg-color-purple: #c0a7de;
$bg-color-gray: #727272;

// button colors

$button-color-active: rgba(0,0,0,.1);

// drawer colors 

$drawer-item-color-hover: rgba(0,0,0,.05);
$drawer-item-color-active: rgba(0,0,0,.1);
